.taskContainer {
    background-color: rgb(175, 245, 175);
    width: 25rem;
    height: 5rem;
    border-radius: 10px;
    display: flex;
    gap: 2px;
    align-items: center;
    margin: auto;
    margin-top: 1.5rem;
    justify-content: center;
    overflow-wrap: break-word;
}

.taskContainer:hover {
    animation: scaleTask 0.4s ease-in-out both;
}

.taskContainer:hover .removeButton {
    opacity: 1;
    cursor: pointer;
}

.priorityColorCircle {
    width: 2.4rem;
    height: 2rem;
    background-color: red;
    border-radius: 20px;
    color: white;
    margin-left: 0.4rem;
    ;
}

.taskTitle {
    width: 16rem;
    text-transform: capitalize;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    font-family: "Public Sans", sans-serif;
    margin-left: 10px;
}

.taskDate {
    font-size: 12px;
}

p {
    color: rgb(3, 149, 3);
}

.VerticalLine {
    width: 2.2rem;
    height: 2px;
    background-color: white;
    transform: rotate(90deg);
}

.deleteIcon {
    font-size: 2rem;
    color: rgb(185, 16, 16);
    border: none;
}

.removeButton {
    opacity: 0;
    border: none;
    background: none;
    padding-right: 15px;
}

.sortButton {
    width: 5rem;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

@keyframes scaleTask {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.1;
    }
}